header.header_class {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

button.btn_header {
    width: 95px;
    height: 43px;
    background: #ffffff;
    font-size: 15px;
    border: 1px solid #6809E1;
    border-radius: 29px;
}

.dark button.btn_header {
    background: rgba(24, 25, 26);
    color: #ffffff;
}

@media screen and (min-width: 1200px) {
    header.header_class {
        padding-top: 15px;
    }

    button.btn_header {
        width: 130px;
        border: 1px solid #6809E1;
        border-radius: 20px;
        cursor: pointer;
    }
}