.container__all {
  max-width: 900px;
  height: 100vh;
  margin: 0 auto;
}

.dark {
  width: 99vw;
  background-color: rgba(24, 25, 26);
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(24, 25, 26);
}
